<html lang="en">
  <head>
    {{>headitems}}
    <title>Weather App > About us</title>
  </head>
  <body>
    {{!-- navbar section --}}
    {{>navbar}}

    <!-- main body header page! -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- right side div -->
            <div class="col-md-6 col-12 main_header_right align-items-center">
              <figure>
                <img
                  src="images/bg2.png"
                  alt="About Page!"
                  class="img-fluid"
                  title="About Page image!"
                />
              </figure>
            </div>
            <!-- left side div -->
            <div class="col-md-6 mol-12 main_header_left">
              <p>Welcome to the weather app</p>
              <h1>
                I am a
                <span>MERN Stack Developer</span>
                Programmer and a Freelancer
              </h1>
              <a href="/about"><button>About me</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{!-- footer section --}}
    {{>footer}}

    <!-- script files -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>